*.pyc
config/*
!config/config.ini.example
alarms/*
!alarms/alarms.json.example
filters/*
!filters/filters.json.example
genfences/*
!geofences/filters.json.example
user_dicts/*
!user_dicts/user_alarms.json.example
__pycache__
null