{
    "pokemon": {
        "webhook_url": "",
        "username": "<pkmn>",
		"content": "",
		"icon_url": "https://raw.githubusercontent.com/RocketMap/PokeAlarm/master/icons/<pkmn_id>.png",
        "avatar_url": "https://raw.githubusercontent.com/RocketMap/PokeAlarm/master/icons/<pkmn_id>.png",
        "title": "A wild <pkmn> has appeared!",
        "url": "<gmaps>",
        "body": "Available until <24h_time> (<time_left>)."
    },
    "egg": {
        "webhook_url": "",
        "username": "Egg",
		"content": "",
        "icon_url": "https://raw.githubusercontent.com/RocketMap/PokeAlarm/master/icons/egg_<raid_level>.png",
        "avatar_url": "https://raw.githubusercontent.com/RocketMap/PokeAlarm/master/icons/egg_<raid_level>.png",
        "title": "Raid is incoming!",
        "url": "<gmaps>",
        "body": "A level <raid_level> raid will hatch <begin_24h_time> (<begin_time_left>)."
    },
    "raid": {
        "webhook_url": "",
        "username": "Raid",
		"content": "",
        "icon_url": "https://raw.githubusercontent.com/RocketMap/PokeAlarm/master/icons/<pkmn_id>.png",
        "avatar_url": "https://raw.githubusercontent.com/RocketMap/PokeAlarm/master/icons/egg_<raid_level>.png",
		"title": "Level <raid_level> Raid is available against <pkmn>!",
        "url": "<gmaps>",
        "body": "The raid is available until <24h_time> (<time_left>)."
    }
}