#port:											# Port to listen on (default: 4000)
#manager_count:									# Number of Managers to run.
#tokens:										# List of bot_tokens [token1, token2, ...]
#bot_client_ids:		 						# List of bot client_ids [client_id1, client_id2, ...]
#command_channels:								# Channel id that users input subscription commands [channel1, channel2, ...]
#alert_role:									# Role name of users who can use the bot (default = '@everyone')
#muted_role:									# Role name for muted users
#admins:										# List of ids for admins
#gmaps_keys:									# Gmaps api keys with geocoding and static map enabled [optional but required for map inlay and neighborhood data] [key1, key2, ...]
#all_areas:										# Set to True to subscribe to all areas by default (default = False)
